{{ define "main" }}
  <h1>@atipugin</h1>
  <p class="lead text-muted">Привет! Меня зовут Александр Типугин и я backend-разработчик. Пишу на Ruby и Go, занимаюсь <a href="https://github.com/atipugin" target="_blank">open-source</a>, веду канал <a href="https://youtube.com/c/GopherSchool" target="_blank">Gopher School</a> на YouTube.</p>
  <h2>Последние посты</h2>
  <ul class="list-unstyled">
    {{ range where .Site.RegularPages "Type" "posts" }}
      <li>
        {{ .Params.icon | emojify }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <small class="text-muted">{{ .Date.Format "02/01" }}</small>
      </li>
    {{ end }}
  </ul>
{{ end }}
