{{ define "main" }}
  <article>
    <header class="mb-3">
      <h1>{{ .Params.icon | emojify }} {{ .Title }}</h1>
      <time class="text-muted">{{ .Date.Format "02/01/2006" }}</time>
    </header>

    {{ .Content }}
  </article>

  {{ with .Params.twitter_url }}
    <div class="card">
      <div class="card-body">
        <p class="card-text text-muted">Вопросы или предложения по поводу этого поста?</p>
        <a class="card-link" href="{{ . }}" target="_blank">Обсудить в Твиттере</a>
      </div>
    </div>
  {{ end }}
{{ end }}
